# npm error log
npm-debug.log

# dependency directories
node_modules

# Apple
.DS_Store

# dot env file for environment variable loading
.env

# webpack bundle
# bundle.js
bundle.js.map

# .orig files
*.orig