/*styles.css*/

h3, h4, h5 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-image: url(../img/peopleBlur.jpg);
}

.form-control.search {
  color: white;
  background-color: rgba(49, 49, 49, 0.71);
  width: 90%;
  height: 20px;
  margin: auto;
  padding-bottom: 2px;
}

/* App Component Styles */
.page-header {
  margin-top: 50px;
  margin-left: 50px;
  font-size: 40px;
  font-family: "Pacifico", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-shadow: 1px 1px 9px rgba(1,1,1,1);
  color: #f8f8f8;
  border-bottom: none;
  text-align: center;
}
.homeBackground {
  background-image: url(../img/peoples.jpg);
}

.hamburger {
  float: right;
  margin-right: 25px;
}

.main-home {
  text-decoration: none;
  color: #f8f8f8
}
.main-home:hover {
  text-decoration: none;
  color: #f8f8f8;
}
.main-home:visited {
  text-decoration: none;
  color: #f8f8f8;
}
.main-home:active {
  text-decoration: none;
}
a:-webkit-any-link {
  text-decoration: none;
}

/*Home Component Styles*/
.jumbotron {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: rgba(49, 49, 49, 0.61);
  color: #f8f8f8;
  text-shadow: 1px 1px 6px rgba(1,1,1,1);
  padding: 0.6em 0.6em;
  margin-bottom: 22px;
}

h1 small {
  font-size: 45%;
  color: #f8f8f8;
  text-shadow: 1px 1px 1px rgba(1,1,1,1);
}

.complete-profile-btn {
  background-color: #b99db8;
  border-color: #040404;
  color: #f8f8f8;
  text-shadow: 1px 1px 8px rgba(1,1,1,1);
}

/*    */

.selectbox {
  height: 275px;
  border: solid 1px #555;
  border-radius: 5px;
  background-color:rgba(49, 49, 49, 0.71);
  /*padding: 5px;*/
  color: #f8f8f8;
  text-align: center !important;
  box-shadow: 1px 1px 6px rgba(1,1,1,1);
}

.selectbox h2 {
  font-family: "Pacifico", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 2px 2px 13px rgba(1,1,1,1);
  text-align: center;
  font-size: 30px;
  font-weight: initial;
  padding-bottom: 10px
}

.selectbox.dash {
  font-size: 50px !important;
}

.form-group {
  /*padding: 5px 5px 5px 0px;*/
}
.EnterJobFormText{
  font-family: "Pacifico", "Helvetica Neue", Helvetica, Arial, sans-serif;
 
  margin-bottom: 20px; 
  color:white;
}

.EnterJobForm{
  border-radius: 10px;
   /* background-color: rgba(49, 49, 49, 0.71);*/
    padding: 5% 7% 5% 7%;
    width: 70%;
    margin: auto;
     background-color: #f8f8f8;

}
.EnterJobModal{

    padding: 10% 10% 10% 10%; 
    width:  :70%;
    

}

.editProfile {
    border-radius: 10px;
    background-color: rgba(49, 49, 49, 0.71);
    padding: 5% 7% 5% 7%;
    width: 90%;
    margin: auto;
    color: #f8f8f8;
}

.editProfile h1 {
  font-family: "Pacifico", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 2px 2px 13px rgba(1,1,1,1);
  margin-bottom: 20px;
}

.edit-profile-input {
  background-color: rgba (0,0,0,0);
}

.help-block {
  text-align: left;
  color: rgba(248, 248, 248, 0.64);
}

.search-btn-group {
  text-align: center;
  padding-bottom: 4px;
}

.search-btn {
  background-color: #b99db8;
  border-color: #040404;
  color: #f8f8f8;
  /*text-shadow: 1px 1px 4px rgba(1,1,1,1);*/
}

.search-btn-enter {
  text-align: center;
}

.job-list-box {
  height: 700px;
  padding: 10px;
  overflow: scroll;
}

.job-list-item {
  border: solid 1px #555;
  border-radius: 5px;
  color: #f8f8f8;
  box-shadow: 1px 1px 6px rgba(1,1,1,1);
  background-color: rgba(49, 49, 49, 0.71);
  margin-bottom: 5px;
}

.job-list-item-btns {
  margin-top: 35px;
  border-color: #040404;
  color: #f8f8f8;
  /*text-shadow: 1px 1px 4px rgba(1,1,1,1);*/
}

.job-list-item-btn {
  background-color: #b99db8;
  border-color: #040404;
  color: #f8f8f8;
  /*text-shadow: 1px 1px 4px rgba(1,1,1,1);*/
}

.search-list-item-btns {
  margin-top: 35px;
  padding: 8px;
  background-color: #b99db8;
  border-color: #040404;
  color: #f8f8f8;
}

.search-results {
  height: 700px;
  padding: 10px;
  overflow: scroll;
}
/*.text-center {
  margin-top: 5px;
}

.search-btn {
  margin-right: 2px;
}*/

/*.btn:focus, .btn.active:focus {
  outline: none;
}*/

/* Dashboard */

.nav-tabs>li>a {
  background-color: rgba(248, 248, 248, 0.69);
}

.nav-tabs>li.active>a:hover {
    background-color: #f8f8f8;
    color: #337ab7;    
    cursor: default;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs>li.active>a {
    background-color: #f8f8f8;
    color: #337ab7; 
}

.dash-tab.nav-tabs {
  background-color: #f8f8f8;
}

.dash-tab.nav-tabs:hover {
  background-color: #23527c;
  color: #f8f8f8;
}


/* Modals */

.job-modal {
  /*background-color: #f8f8f8;*/
}

.modal-body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: justify;
}

.modal-body h4 {
  font-weight: bold;
}

.modal-see-posting {
  text-decoration: none,
  font-weight: bold;
}

.modal-btns {
  background-color: #b99db8;
  border-color: #040404;
  color: #f8f8f8;
}

.modal-submit-btn {
  text-align: center;
  margin-left: 33%;
}

.search-results-header {
  border: solid 1px #555;
  border-radius: 5px;
  color: #f8f8f8;
  box-shadow: 1px 1px 6px rgba(1,1,1,1);
  background-color: rgba(49, 49, 49, 0.71);
  margin-bottom: 5px;
  text-align: center;
  font-family: "Pacifico", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 2px 2px 13px rgba(1,1,1,1);
}

.connect-navigation {
  text-align: center;
}

.home-footer {
  border: none;
  color: #f8f8f8;
  background-color: rgba(49, 49, 49, 0.71);
  margin-top: 30px;
}

.form-text-input {
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  border-radius: 0;
  text-align: center;
  box-shadow: none;
}

.form-text-input, .connect::-webkit-input-placeholder {
  color: white;
}

.form-label {
  color: white;
  font-size: 10px;
}

.sticky {
  /* General */ 
  margin: 0 auto;
  padding: 8px 24px;
  background-color: #b99db8;


  /* Font */
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  /*font-size: 1.4em;*/

  /* Border */
  border: solid 1px #555;

  /* Shadow */
  -moz-box-shadow:0px 0px 6px 1px #333333;
  -webkit-box-shadow:0px 0px 6px 1px #333333;
  box-shadow:0px 0px 6px 1px #333333;
}

.sticky-note {
  width: 87%;
  margin-right: 10px;
}

.sticky-button {
  background-color: #f8f8f8;
  color: black;
}
