/*styles.css*/

.hunt {
  text-align: center;
}

.jumbotron {
  text-align: center;
}

h1 small {
  font-size: 45%;
}

.selectbox {
  height: 275px;
  border: solid 1px #d7d7d7;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 1px 1px 0px #d7d7d7;
}

.selectbox h2 {
  text-align: center;
  font-size: 35px;
}

.job-list-box {
  border: solid 1px #d7d7d7;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 1px 1px 0px #d7d7d7;
}

.job-list-item-btns {
  margin-top: 35px;
}

.search-results {
  height: 275px;
  border: solid 1px #d7d7d7;
  border-top: solid 0px white;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 1px 1px 0px #d7d7d7;
}
